{% extends "base.html" %}

{% block app_content %}
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.keyword.label }}<br>
    {{ form.keyword(size=32) }}<br>
    {% for error in form.keyword.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.definition.label }}<br>
    {{ form.definition(size=100) }}<br>
    {% for error in form.definition.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}
