{% extends "base.html" %}

{% block app_content %}
    <h1>Hello, {{ current_user.username }}!</h1>
    {% for card in cards %}
    <div><p>Definition: <a href="/editCard/{{ card.id }}">{{ card.definition }}</a> <b> key:<a href="/editCard/{{ card.id }}"> {{ card.keyword }}</a></b></p></div>
    {% endfor %}
{% endblock %}
